[Bb]in/
[Oo]bj/

.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs

.idea/
*.sln.iml
_ReSharper*/
*.[Rr]e[Ss]harper

*.nupkg
packages/
!packages/build/
.nuget/

*.log
TestResults/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

.DS_Store
Thumbs.db

appsettings.Development.json
appsettings.Local.json
*.secrets.json

[Pp]ublish/
*[Pp]ublish[Pp]rofiles/
*.Publish.xml